.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}
.row {
  @extend %clr;
}

.col-3,
.col-9,
.col-6,
.col-4 {
  float: left;
  padding: 0 10px;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

